<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cotizacion</title>
    <link rel="stylesheet" href="../css/bootstrap.rtl.min.css">
</head>
<body> 
    <div class="container p-3 mb-2 bg-dark text-white">
     

        <center> 
            <h1>Cotizacion</h1>
            <form action="/cotizacionM" method="post">
                <label for="">Valor del automovil</label>
                <input type="number" name="valor" id="valor" required="true">
                <br>
                <br>
                <label for="">Porcentaje de pago inicial</label>

                <select name="pInicial" id="pInicial">
                    <option value="10">10%</option>
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    <option value="50">50%</option>
                    <option value="70">70%</option>

                </select>
                <br>
                <br>
                <label for="">Plazos</label>

                <select name="plazos" id="plazos">
                    <option value="12">12 meses</option>
                    <option value="24">24 meses</option>
                    <option value="36">36 meses</option>
                    <option value="48">48 meses</option>
                    <option value="60">60 meses</option>
                    <option value="72">72 meses</option>
                </select>
                <br>
                <br>
                <button type="submit">Enviar</button>

            </form>

        </center>
        <%
        if(pInicial!=0){
            var pagoInicial =0
            var totalFin = 0
            var pagoMensual = 0
    
            pagoInicial = valor*(pInicial/100);
            totalFin = valor-pagoInicial
            pagoMensual = totalFin/plazos
    
        }
        %>
        
    
        <center>
        <br>
        <h3>Resume de la cotizacion</h3>
        valor del automovil: <%=valor%>
        <br>
        Porcentaje de pago de incio: <%=pInicial%>
        <br>
        Plazos: <%=plazos%>
        <br>
        Pago Inicial: <%=pagoInicial%>
        <br>
        Total a financiar: <%=totalFin%>
        <br>
        Pago Mensual: <%=pagoMensual%>
        </center>
        
    </div>
  
</body>
</html>