<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/bootstrap.min.js"></script>
    <script src="../app.js"></script>
    <title>Practicas 01 EJS</title>
</head>
<body>
<div class="container">
    <center>
    <h1>Listado de alumnos</h1>
    <img src="./img/logoupsin.jpg" alt="">
</center>
<table class="table table-dark table-hover">
    <tr class="table-active">

        <th>Matricula</th>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Materias</th>




    </tr>
<% for(alumno of listado){%>

<tr>
<td><%=alumno.matricula%></td>
<td><%=alumno.nombre%></td>
<td><%=alumno.sexo%></td>
<td><%=alumno.materias%></td>

</tr>

<%
}
%>
</table>
</div>
</body>
</html>